@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic);

body{
    font-family: 'Roboto', sans-serif;
}

.title{
    margin-top: 50px;
    font-size: 100px;
    font-weight: 300;
    color: #393939;    
    font-family: 'Roboto', sans-serif;
}

.title span{
    color: #E10000;
    font-weight: 900;
}

.sub-title{
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
}
.form-title {
    margin: 50px 0 25px 0;
    font-weight: 300;
    color: #393939;    
    font-size: 50px;
}
.form-title span{
     color: #E10000;
    font-weight: 900;
}

.enroll-success{
    margin: 50px 0 ;
}